{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-8">
                    <!-- options with 2 columns horizontal orientation forming rows -->
                    <div class="row">
                        <!-- has 2 vertical cols with paypal and mpes option -->
                        <div class="col-sm-6 border my-2">
                            <div class="row justify-content-between">
                                <!-- paypal option -->
                                <div class="col-sm-12 border my-2 rounded">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="option"
                                                        id="option" value="2" checked>
                                                    <i class="fab fa-paypal fa-lg  "></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi voluptatibus
                                            laudantium eos aut nam maiores quis amet quae, error aperiam maxime,
                                            voluptate hic
                                            explicabo fugit in iure! Minima, unde ratione.
                                        </div>
                                    </div>
                                </div>
                                <!-- mpesa option -->
                                <div class="col-sm-12 border m-y-2 rounded">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="option"
                                                        id="option" value="3" checked>
                                                    Mpesa icon
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi voluptatibus
                                            laudantium eos aut nam maiores quis amet quae, error aperiam maxime,
                                            voluptate hic
                                            explicabo fugit in iure! Minima, unde ratione.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- credit card option -->
                        <div class="col-sm-6 border my-2 rounded">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="option" id="option"
                                                value="1" checked>
                                            <i class="fas fa-wallet    "></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    {{card_form | crispy}}
                                </div>
                                <div class="col-sm-12">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- summary -->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Summary
                            </h3>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                {% for item in cart_wish.iter_cart %}
                                {% with product=item.product %}
                                <!-- product row -->
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-2 fw-bold">
                                            {{item.quantity}} X
                                        </div>
                                        <!-- picture -->
                                        <div class="col p-0 m-0 my-1">
                                            <div class="card border-0">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{% if product.image %}{{ product.image.url }}
                                                        {% else %}{% static 'resources/img/whiteblack3.jpeg' %}{% endif %}"
                                                        style="height: 80px;" class="rounded">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <a href="{{ product.get_absolute_url }}">
                                                <div class="fw-bold">{{ product.name }}</div>
                                            </a>
                                            <div class="fw-bold">Ksh. {{ product.price |intcomma}}
                                                <del>(Ksh. {{product.get_discount|intcomma}})</del>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endwith %}
                                {% endfor %}
                            </div>
                            <hr>


                            <!-- bottom containing summary -->
                            <div class="fw-bold row justify-content-between">
                                <div class="col">
                                    SubTotal:
                                </div>

                                <div class="text-success col text-end">
                                    Ksh. {{ cart_wish.get_total_price |intcomma }}
                                </div>
                            </div>
                            <div class="fw-bold row justify-content-between">
                                <div class="col">
                                    Tax:
                                </div>

                                <div class="text-danger col text-end">
                                    Ksh. 0.00
                                </div>
                            </div>
                            <hr>
                            <div class="fw-bold row justify-content-between">
                                <div class="col">
                                    Total:
                                </div>

                                <div class="text-success col text-end">
                                    Ksh. {{ cart.get_total_price |intcomma}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-end mt-3">
                        <a href="{% url 'shop:product_list' %}" class="btn btn-primary"><i class="fa fa-shopping-bag"
                                aria-hidden="true"></i> Continue shopping</a>
                        
                        <a href="{% url 'order:order_create' %}" class="btn btn-success"> Pay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
{% include 'bottom.html' %}
{% endblock %}