<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/mage/calendar.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/css/styles-m.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/owl.carousel/assets/owl.carousel.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/fancybox/css/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/icon-fonts/css/porto-icons-codes.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/simple-line-icons/css/simple-line-icons.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/icon-fonts/css/animation.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/Magefan_Blog/css/blog-m.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/Magefan_Blog/css/blog-custom.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/Smartwave_Dailydeals/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/WeltPixel_Quickview/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/css/styles-l.css" />
<link rel="stylesheet" type="text/css" media="print" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/css/print.css" />
<link rel="icon" type="image/x-icon" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/Magento_Theme/favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/Magento_Theme/favicon.ico" />
<script type="text/javascript" src="/static/pub/static/version1627880338/_cache/merged/52a90de53ef3e1265e0d58e72e96d025.js"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light" />
<!--XAm5wbBhVaP9vSTfiPfrTG4bwCZBA119-->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;v1&amp;subset=latin%2Clatin-ext" type="text/css" media="screen" />
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;v1&amp;subset=latin%2Clatin-ext" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/web/bootstrap/css/bootstrap.optimized.min.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/web/css/animate.optimized.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/web/css/header/type3.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/web/css/custom.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/configed_css/design_demo3_en.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/pub/media/porto/configed_css/settings_demo3_en.css">