{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}

{% if validlink %}
<div class="container-fluid bg-white" >
    <div class="row justify-content-center align-items-center mt-5 " style="min-height: 50vh;">
        <div class="col-lg-6 py-5">
            <div class="card border-0 bg-transparent">
                <div class="card-title text-center">
                    <h3>Please enter your new password twice</h3>
                </div>
                <div class="container">
                    <form method="post">
                        {{form|crispy}}
                        <p><input type="submit" value="Change my password"
                                class="btn btn-primary btn-block"></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container bg-light mt-5 p-5 rounded ">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</h4>
            <div class="row justify-content-center text-center">
                <div class="col">
                    <a href="#">Go to Home</a>
                </div>
                <div class="col">
                    <a href="{% url 'sign_in' %}">Go to Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}