{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="container bg-light mt-5 p-5 rounded border shadow-lg">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Password reset successfull.</h2><br><br>
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    Your password has been reset successfully. You can
                </div><br>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'sign_in' %}" class="nav-link">log in now</a></p>
                        </div>
                        <div class="col">
                            <a href="{% url 'sign_out' %}" class="nav-link">log out all active sessions</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
