{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Change your password{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-7">
            <div class="card shadow-lg rounded">
                <div class="card-body boder border-bottom-0">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'resources/img/whiteblack3.jpeg' %}" alt="avatar" width="100" , height="100"
                            class="rounded-circle">
                    </div>
                    <div class="card-title text-center">
                        <h1>Enter your credentials</h1>
                    </div>
                    <form method="post">
                        {{form|crispy}}
                        {% csrf_token %}
                        <br>
                        <p class="d-flex justify-content-center">
                            <input type="submit" value="Change" class="btn btn-outline-success "
                                style="border-radius: 50px;width: 80%;">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}