{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container-fluid bg-white" >
    <div class="row justify-content-center align-items-center mt-5 " style="min-height: 50vh;">
        <div class="col-lg-6 py-5">
            <div class="card border-0 bg-transparent">
                <div class="card-title text-center">
                    <h2 class="h5">We've emailed you instructions for setting your password.</h2>
                </div>
                <div class="container text-center">
                    If you don't receive an email, please make sure you've entered
                    the address you registered with.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}