{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container-fluid bg-white">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 py-5">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-center">
                    <h4>Password Reset</h4>
                </div>
                <div class="container">
                    <p>
                        Enter your email address in the field bellow and we will send you a
                        link to reset it
                    </p>
                    <form method="post">
                        {{form|crispy}}
                        <p><input type="submit" value="Send e-mail"
                                class="btn btn-block btn-primary"></p>
                        {% csrf_token %}
                    </form>
                    <p >Please <a href="{% url 'root:contact' %}">Contact us </a> if you have any trouble resetting your password</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}