<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                {% for bread in bread_crumb %}
                {% if bread.active %}
                <span class="breadcrumb-item active">{{bread}}</span>
                {% else %}
                <a class="breadcrumb-item text-dark" href="{{bread.link}}">{{bread}}</a>
                {% endif %}
                {% endfor %}   
            </nav>
        </div>
    </div>
</div>