{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
Details
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5 justify-content-center">
        <div class="col-lg-6">
            <div class="card rounded card-body text-center mb-2">
                <h2>
                    Make Client Payment
                </h2>
            </div>
            <div class="card rounded card-body mb-2">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="order_id" class="form-control" placeholder="Customer Order Id" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{order.id}}">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                      </div>
                </form>
            </div>
            {% if order %}
            <div class="card rounded card-body mb-2">
                <div class="row justify-content-between">
                    <div class="col-lg-12">
                        <h4 class="text-center">ORD-{{order.id}}</h4>
                    </div>
                    <div class="col-lg-6">
                        Client: <span class="font-weight-bold">{{order.user.get_full_name}}</span>
                    </div>
                    <div class="col-lg-6 text-right">
                        Status: {% if order.paid %} 
                        <span class="badge badge-success font-weight-bold">Paid</span>
                        {% else %}
                        <span class="badge badge-danger font-weight-bold">Pending</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        Ordered: <span class="font-weight-bold"> {{order.created}}</span>
                    </div>
                    <div class="col-lg-6 text-right">
                        Price: Ksh. <span class="font-weight-bold">{{order.get_total_cost | intcomma}}</span>
                    </div>
                    <div class="col-lg-6 ">
                        Amount Paid: <span class="font-weight-bold">{{order.get_amount_paid |intcomma}}</span>
                    </div>
                    <div class="col-lg-6 text-right">
                        Balance: <span class="font-weight-bold">{{order.get_balance |intcomma}}</span>
                    </div>
                    <div class="col-lg-12 font-weight-bold my-2">
                        <h6 class="text-center">Items Ordered <span class="badge badge-primary">{{order.items.all|length}}</span></h6>
                    </div>
                    {% if order.items.all %}
                    <div class="col lg-12">
                        <table class="table table-light table-borderless table-hover text-center mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                            {% for item in order.items.all %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item}}</td>
                                <td>{{item.price|intcomma}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.get_cost|intcomma}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>           
                    </div>
                    {% endif %}

                </div>
            </div>
                {% if not order.paid %}
                <div class="card rounded card-body mb-2">
                    <form action="{% url 'order:create_transaction' order.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="transaction_id" class="form-control" placeholder="Transaction Id or National Id" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Make Transaction</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            {% endif %}
            
        </div>
    </div>

</div>

{% include 'bottom.html' %}
{% endblock %}
