{% load static %}



<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for slider in sliders %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="
                    {% if not forloop.counter0 %}
                    active
                    {% endif %}
                    "></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for slider in sliders %}

                    <div class="carousel-item {% if not forloop.counter0 %} active {% endif %}" style="height: 430px;">
                        <img class="d-block w-100" src="{{slider.image.url}}" alt="{{slider}}">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                                    {{slider.title}}
                                </h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                                    {{slider.description}}</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                    href="{% url 'shop:product_list' %}">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- loop -->
            {% for tag in tags %}
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{{tag.image.url}}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{{tag.description}}</h6>
                    <h3 class="text-white mb-3">{{tag}}</h3>
                    <a href="{% url 'shop:product_list' %}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            {% endfor %}
            <!-- loop -->
        </div>
    </div>
</div>